[Unit]
Description=xremap
After=gdm3.service

[Service]
Type=simple
User=root
Group=root

GuessMainPID=no
ExecStart=sh -c '/home/kafuhamada/.cargo/bin/xremap /home/kafuhamada/Documents/dotfiles/xremap.yaml || xremap /home/kafuhamada/Documents/dotfiles/xremap.yaml'
Restart=no

[Install]
WantedBy=multi-user.target
